.right{
    height: 100%;
    width: 91%;
    // background-color: blue;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    .coursebox{
        color: #FFF;
        font-size: small;
        width: 12%;
        height: 19%;
        flex-grow:2;
        margin: 1% 1% 1% 0;       
        border-radius: 5%;
        background-color: #fbbd08;
        display: flex;
        align-items: center;
        justify-content: center;
        // -webkit-box-shadow: 5px 5px 10px 0px rgba(97,93,97,1);
        // -moz-box-shadow: 5px 5px 10px 0px rgba(97,93,97,1);
        // box-shadow: 5px 5px 10px 0px rgba(97,93,97,1);
    }
    .coursenullbox{
        font-size: small;
        width: 12%;
        height: 19%;
        flex-grow:2;
        margin: 1% 1% 1% 0;       
        border-radius: 5%;
        background-color: #F7F7F7 ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .coursetext{
        width: 90%;
        height: 90%;
        // background-color: black;
        text-align: 1.5;    
    }
    .addcourse{
        right: 10%;
        bottom: 10%;
        display: fixed;
        position: absolute;
    }
}