<<<<<<< HEAD
=======
@import "@/variables.scss";

>>>>>>> 6e61335cb570dd2c1b66a5a3a72e1469d73c24fc
.right {
  height: 100%;
  width: 91%;
  // background-color: blue;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;

<<<<<<< HEAD
  .coursebox {
    box-sizing: border-box;
    color: #FFF;
    font-size: small;
    width: 13%;
    height: 10%;
    // border-radius: 5%;
    flex-grow: 1;
    background-color: #d2f1f0;
    display: flex;
    // align-items: center;
    justify-content: center;
    border-bottom: 1px dashed gray;
  }

  .coursenullbox {
    position: relative;
    box-sizing: border-box;
    width: 13%;
    height: 10%;
    flex-grow: 1;
    background-color: #fff;
    display: flex;
    // align-items: center;
    justify-content: center;
    border-bottom: 1% dashed gray;
  }

  .course-topbox {
    position: relative;
    top: 20%;
    opacity: 93%;
    width: 90%;
    height: 80%;
    overflow: hidden;
  }

  .course-centerbox {
    width: 90%;
    height: 102%;
    text-align: 1.5;
    overflow: hidden;
  }

  .course-bottombox {
    width: 90%;
    height: 80%;
    // background-color: black;
    text-align: 1.5;
    overflow: hidden;
=======
  .coursebox-null {
    box-sizing: border-box;
    color: $color-white;
    font-size: $font-size-sm;
    width: 13%;
    height: 10%;
    // border-radius: 10%;
    flex-grow: 1;
    background-color: #d2f1f0;
    border-bottom: 1px dashed gray;

    .course-nullbox {
      opacity: 80%;
      width: 90%;
      height: 102%;
      text-align: 1.5;
      overflow: hidden;
      display: flex;
      justify-content: center;

      .course-nullinbox {
        width: 100%;
        height: 100%;
      }
    }
  }

  .coursebox-top {
    box-sizing: border-box;
    color: $color-white;
    font-size: $font-size-sm;
    width: 13%;
    height: 10%;
    // border-radius: 10%;
    flex-grow: 1;
    background-color: #d2f1f0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // border-bottom: 1px dashed gray;

    .course-topbox {
      // opacity: 80%;
      border-radius: 10% 10% 0 0;
      width: 90%;
      height: 93%;
      text-align: 1.5;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      .course-topinbox {
        width: 90%;
        height: 80%;
      }
    }
  }

  .coursebox-center {
    box-sizing: border-box;
    color: $color-white;
    font-size: $font-size-sm;
    width: 13%;
    height: 10%;
    // border-radius: 10%;
    flex-grow: 1;
    background-color: #d2f1f0;
    display: flex;
    justify-content: center;
    // border-bottom: 1px dashed gray;

    .course-centerbox {
      // opacity: 80%;
      width: 90%;
      height: 102%;
      text-align: 1.5;
      overflow: hidden;
      display: flex;
      justify-content: center;

      .course-centerinbox {
        width: 90%;
        height: 100%;
        // background-color: black;
      }
    }
  }

  .coursebox-bottom {
    box-sizing: border-box;
    color: $color-white;
    font-size: $font-size-sm;
    width: 13%;
    height: 10%;
    // border-radius: 10%;
    flex-grow: 1;
    background-color: #d2f1f0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px dashed gray;

    .course-bottombox {
      // opacity: 80%;
      border-radius: 0 0 10% 10%;
      width: 90%;
      height: 93%;
      text-align: 1.5;
      overflow: hidden;
      display: flex;
      // align-items: flex-start;
      justify-content: center;

      .course-bottominbox {
        width: 90%;
        height: 80%;
        // background-color: black;
      }

    }

>>>>>>> 6e61335cb570dd2c1b66a5a3a72e1469d73c24fc
  }
}
