$color-brand: #1bbcb6;
$color-brand-light: #54cdc8;
$color-brand-dark: #169692;
@import "~taro-ui/dist/style/index.scss";
<<<<<<< HEAD
@import "./assets/icons/remixicon.css";
=======
// @import "~taro-ui/dist/";
@import "./assets/icons/remixicon.css";
>>>>>>> 6e61335cb570dd2c1b66a5a3a72e1469d73c24fc
